<div style="position: relative;  text-align: center;">
    <img src="~/images/pizza.png" style="width: 100%" alt="Pizza" />
    
</div>
<br>
<div class="text-center row">
    @{
        int count = 0;
        if (ViewBag.Categories.Count > 8)
        {
            count = 8;
        }
        else
        {
            count = ViewBag.Categories.Count;
        }
        for (int i = 0; i < count; i++)
        {
            var imageSrc = ViewBag.Categories[i].Name + ".jfif";
            <div class="card text-center col-4" style="width: 10rem; ">
                <div class="card-body">                
                    <a asp-action="AllProducts" asp-controller="Product" asp-route-category="@ViewBag.Categories[i].Name" class="nav-link text-dark">
                        <img class="card-img-top" src="~/images/categories/@imageSrc" alt="Image" style="width: 3rem; height: 3rem;">
                        <h5 class="card-title mt-1">@ViewBag.Categories[i].Name</h5>
                    </a>
                </div>
            </div>        
        }
    }
</div>