@model IEnumerable<FavoriteProductInfoModel>
@{
    ViewBag.Title = "My Favorite Products";
}
@{
    string bannerTitle = "Favorites";
    <partial name="_PageBannerPartial" model="bannerTitle" />
}

<div class="text-start row">
    @foreach (var p in Model)
    {
        <div class="card text-center col-4" style="width: 20rem; ">
            <div class="card-body">
                <partial name="_ProductInfoPartial" model="@p.Product" />
                <a asp-controller="FavoriteProduct" asp-action="RemoveFavoriteProduct" asp-route-id="@p.Product.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Remove</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
