@model ProductFormModel
@{
    ViewBag.Title = "Edit Product";
}

<h2 class="title">@ViewBag.Title</h2>
<hr />

<h4 class="text-center">@Model.Title</h4>
<hr />

<form asp-controller="Product" asp-action="Edit" method="post" enctype="multipart/form-data">
    <partial name="_ProductPartial" model="@Model" />
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}